# ====================
# Android / Kotlin
# ====================
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# ====================
# Node.js / Backend
# ====================
node_modules/
.env
logs
*.log
dist/
build/
"firebaseServiceAccountKey.json" 

# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Env
.env
.env.local
.env.production

# Firebase
.firebase/
serviceAccountKey.json

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# IDE
.vscode/
.idea/

# Build
dist/
build/

# JVM crash dumps
*.hprof

